@import "../constants/colors.css";

#browse h1 {
  text-align: center;
  margin-bottom: 1em;
}

.browse_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter_panel {
  flex: 1;
}

.filter_panel h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filter_panel ul {
  list-style: none;
}

.filter_panel li {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 12px;
  width: fit-content;
  padding: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 100ms;
}

.filter_panel li:hover,
.active {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  cursor: pointer;
}

.filters_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.browse_panel {
  flex: 4;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}

.input input[type="float"] {
  display: flex;
  padding: 20px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #474747;
  background: #fff;
  margin-bottom: 10px;
}

select {
  display: flex;
  width: 100%;
}
