@import "../constants/colors.css";

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 12px;
  border: 2px solid #f07dea;
  min-width: 300px;
  max-width: 25%;
  overflow: hidden;
  max-height: 400px;
}

.card .service_image {
  height: 180px;
  background: linear-gradient(117deg, #f07dea -9.77%, #a460ed 106.39%);
}

.card_details {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  gap: 10px;
}

.card_details .service_name {
  overflow: hidden;
  color: #a460ed;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service_rating {
  display: flex;
  flex-direction: row;
  align-items: start;
  font-size: 12px;
  gap: 10px;
  width: 100%;
}

.card_details .service_location,
.card_details .service_packages {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card_details ul {
  font-size: 12px;
  margin-left: 2em;
  list-style: none;
}

.more_btn {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #a460ed;
  margin-left: auto;
  text-decoration: none !important;
}
