@import "../constants/colors.css";

.card {
  display: flex;
  height: fit-content;
  border-radius: 12px;
  border: 2px solid #f07dea;
  max-width: 30%;
}

.card p {
  display: flex;
  gap: 10px;
}

.card_details {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.card_details h4 {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.card ul {
  list-style: none;
}
