@import "../constants/colors.css";

.eventedit_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 0px 64px;
  justify-content: center;
  align-items: center;
  gap: 130px;
  overflow-x: hidden;
  overflow-y: auto;
  background: radial-gradient(
      215.69% 121.33% at -17.89% 50%,
      #beaee2 10.8%,
      var(--color-primary-variant) 36.72%,
      rgba(247, 219, 240, 0) 54.53%
    ),
    #fff;
}

.eventedit__left_container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventedit__right_container {
  flex: 2;
}

.eventedit_header {
  color: #282e3d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.eventedit__event_details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.eventedit_title {
  color: #282e3d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.eventedit_text {
  color: #ea3ab9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.eventedit_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: flex;
  width: 700px;
  align-items: flex-start;
  gap: 40px;
}

.eventedit_fields input {
  height: 50px;
  padding: 30px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #474747;
  width: 100%;
}

.dates_container {
  width: 100%;
}

.eventedit_fields input[type="date"] {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.to {
  display: flex;
  flex-direction: column;
  color: rgba(30, 30, 30, 0.3);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eventedit_buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: auto;
}

.services_buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service_btn {
  display: inline-flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  background: white;
}

.service_btn.clicked {
  background: #9fc9f3;
}

.slidecontainer {
  stroke-width: 2px;
  stroke: rgba(71, 71, 71, 0.3);
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
}

.cancel_btn {
  display: inline-flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  background: var(--color-primary-variant);
  text-decoration: none;
}

.save_btn {
  display: inline-flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  background: var(--color-primary);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.range_container input[type="float"] {
  width: 50%;
}

.range_container input[type="float"]::placeholder {
  text-align: right;
}

.range_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.range_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  height: 60px;
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  border: 1px solid #474747;
}

/* Style the dropdown arrow */
.dropdown select::-ms-expand {
  display: none;
}

.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Style the dropdown options */
.dropdown select option {
  background-color: white; /* Background color of options */
  color: black; /* Text color of options */
}

/* Style the dropdown when hovered */
.dropdown select:hover {
  border-color: #333; /* Change border color on hover */
}

/* Style the dropdown when focused */
.dropdown select:focus {
  outline: none; /* Remove focus outline */
  border-color: #333; /* Change border color on focus */
}
