@import "../constants/colors.css";

.home_container {
  background-image: url(../assets/home_hero.png);
  background-repeat: no-repeat;
  background-position: right 0px center;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10% 10% 0px 10%;
  gap: 2em;
}

.hero_text h1 {
  font-size: 96px;
  width: 70%;
  font-weight: 900;
  line-height: 120%;
}

.hero_text {
  background: linear-gradient(
    95deg,
    #9fc9f3 -5.21%,
    var(--color-primary) 38.84%,
    #f07dea 94.89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_details {
  font-weight: 500;
  color: var(--color-primary);
  font-size: 16px;
}

.hero_details .home_buttons_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}

.hero_details .home_buttons_container button,
.hero_details .home_buttons_container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary);
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(30, 30, 30, 1);
  border-radius: 8px;
  font-weight: 500;
  color: white;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.hero_continue {
  width: fit-content;
  margin: 0px auto 8% auto;
  color: var(--color-primary);
  flex-grow: 1;
  align-content: end;
}

.hero_continue .scroll_icon {
  width: fit-content;
  margin: 0px auto;
}

.hero_continue button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.hero_continue button:focus {
  outline: none;
}
