@import "../constants/colors.css";

.home_container {
  background-image: url(../assets/home_hero.png);
  background-repeat: no-repeat;
  background-position: right 0px center;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0px 10%;
  gap: 2em;
}

.hero_text h1 {
  font-size: 96px;
  width: 60%;
  font-weight: 900;
  line-height: 120%;
}

.hero_text {
  margin-top: 100px;
  background: linear-gradient(
    95deg,
    #9fc9f3 -5.21%,
    var(--color-primary) 38.84%,
    #f07dea 94.89%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_details {
  font-weight: 500;
  color: var(--color-primary);
  font-size: 16px;
}

.hero_details .home_buttons_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero_details .home_buttons_container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary);
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(30, 30, 30, 1);
  border-radius: 8px;
  font-weight: 500;
  color: white;
}

.hero_details .home_buttons_container button a {
  color: white;
}

.hero_continue {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 2rem auto 2rem auto;
  justify-content: center;
}

.hero_continue .scroll_icon {
  width: fit-content;
  margin: 0px auto;
}
